section.todo-container {
    max-width: 768px;
    margin: 50px auto;
    text-align: center;
}

button.todo-btn,
.form-elemt input {
    display: inline-block;
    margin-top: 15px;
}

ol.myformdata {
    list-style-position: inside;
    padding: 0;
}

.ckeck {
    text-decoration:line-through;
}