* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body.light {
    --bg-color: white;
    --text-color: black;
}

body.dark {
    --bg-color: #121212;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.navbar-Wrapper .logo-shape img {
    width: 100%;
    display: block;
    height: auto;
}

.navbar-Wrapper {
    display: grid;
    grid-template-columns: 5% auto auto;
    justify-content: space-between;
    align-items: center;
}

ul.header-navitems {
    list-style: none;
    display: flex;
    gap: 70px;
    align-items: center;
}

.section-border {
    border-bottom: 1px solid var(--text-color);
    position: sticky;
    top: 0;
    background: var(--bg-color);
    z-index: 999;
}

.header-navitems a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
}

.nav-icons span.badge {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 100%;
    position: absolute;
    top: -5px;
    right: -10px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: var(--bg-color);
}

.cart svg {
    color: var(--text-color);
}

.cart {
    position: relative;
    cursor: pointer;
}

.footerwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    border-top: 1px solid var(--text-color);
}

.toggle-mode button {
    width: 40px;
    height: 15px;
    background: transparent;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid var(--text-color);
    display: flex;
    transition: all ease 0.2s;
    cursor: pointer;
}

button.Light {
    justify-content: end;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

button .themedot {
    width: 24px;
    height: 15px;
    border-radius: 40px;
    background-color: var(--text-color);
}